:root {
    --main-color: #48b889;
    --black: #1a1a1a;
    --bg: #1a1a1a;
    --border: 2px solid rgba(255, 255, 255, .3);
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    font-size: 63%;
}

body {
    background: var(--bg);
}

section {
    padding: 14px 6%;
}

main {
    width: 940px;
    margin: 0 auto;
    position: center;
}

form {
    margin: 40px 0;
}

form label,
form legend,
h4 {
    display: block;
    text-align: left;
    font-size: 20px;
    margin: 0 0 10px;
    color: white;
}

h2 {
    color: white;
    font-size: 20px;
    text-align: center;
}

.heading {
    text-align: center;
    color: white;
    text-transform: uppercase;
    padding-bottom: 30px;
    font-size: 35px;
    position: center;
}

.heading b {
    color: var(--main-color);
    text-transform: uppercase;
}


.btn {
    margin-top: 10px;
    display: inline-block;
    padding: 10px 10px;
    font-size: 16px;
    color: white;
    background: var(--main-color);
    cursor: pointer;
}


.header {
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 7%;
    border-bottom: var(--border);
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header .voltar img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: 0%;
    border: 3px solid #48b889;

}

.header .navbar a {
    margin: 8px;
    font-size: 16px;
    color: white;
}

.header .navbar a:hover {
    opacity: 0.5;
    padding-bottom: 5px;
}

.sobre {
    min-height: 93vh;
    display: flex;
    align-items: center;
    background: url(https://png.pngtree.com/background/20210717/original/pngtree-black-background-with-green-hexagonal-picture-image_1444447.jpg);
}


.sobre .content h4 {
    font-size: 25px;
    color: white;
}

.sobre .content b {
    color: var(--main-color);
}

.sobre .content p {
    font-size: 20px;
    text-align: justify;
    word-break: normal;
    color: #eee;
}

.loja .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
}

.loja .box-container div:hover {
    border-color: rgb(33, 24, 165);
}

.loja .box-container div:active {
    border-color: #48b889;
}

.loja .box-container .box {
    padding: 18px;
    text-align: center;
    border: var(--border);
    border-radius: 2%;
    border-color: darkgray
}

.loja .box-container .box img {
    width: 180px;
    height: 180px;
    border-radius: 100%;
    margin: 0%;
    border: 5px solid #48b889;
    position: initial;
}

.loja .box-container .box h3 {
    color: white;
    font-size: 18px;
    padding: 16px 0;
}


.loja .box-container .box .price {
    color: white;
    font-size: 20px;
    padding: 12px 0;
}

.promo .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
    flex-wrap: wrap;
}

.promo .box-container .box {
    text-align: center;
    border: var(--border);
    padding: 32px;
}

.promo .box-container .box img {
    width: 240px;
    height: 240px;
    border-radius: 20%;
    margin: 0%;
    border: 5px solid #4952d4;
    position: initial;
}


.promo .box-container .box .content h3 {
    color: white;
    font-size: 20px;
}

.promo .box-container .box .btn {
    background-color: #4952d4;
}

.promo .box {
    opacity: 0.4;
    transition: 400ms;
    box-shadow: 10px 10px 5px #4952d4, -10px -10px white, -20px 20px 20px #48b889;
}

.promo .box:hover {
    opacity: 1;
}


.eventos .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 30px;
}

.eventos .box-container .box {
    border: var(--border);
}

.eventos .box-container .box .image {
    height: 350px;
    overflow: hidden;
    width: 100%;
}

.eventos .box-container .box .image img {
    height: 100%;
    width: 100%;
}

.eventos .box-container .box h2 {
    text-align: center;
}


.eventos .box-container .box .content {
    padding: 2px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 20px;
    width: 50%
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 20%;
    padding: 15px 0;
    background: #48b889;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
    background: gray;
    transform: (1.2);
}

.boxnave {
    position: absolute;
    animation: voar 2.5s linear infinite alternate running;
}

.boxnave:hover {
    animation-play-state: paused;
}

@keyframes voar {
    from {
        transform: translate(5, 5);
    }

    50% {
        transform: translate(50%, 300px);
    }

    to {
        transform: translate(50vw, 0);
    }
}